.header {
  background-color: green;
  width: 100%;
}

.bookshelf-wrapper {
  border: black;
}

.books-wrapper {
  display: flex;
}

.book {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
